::-webkit-scrollbar{width:0px;height:0px}
::-webkit-scrollbar-track{width:5px;height:5px;opacity:0.5}
::-webkit-scrollbar-thumb{width:5px;height:5px;border-radius:5px;background-color:#3b5998}
a{
	color:#3b5998;
	font-weight:bold;
	text-decoration:none;
}
a,input{
	outline:none;
}
body{
	background:#222;
	color:#ddd;
	margin:0px;
	user-select:none;
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
}
header{
	background:#111;
	color:eee;
	height:60px;
	left:0px;
	position:fixed;
	top:0px;
	width:100%;
}
.story{
	animation:show 1s;
	background:#333;
	border-radius:10px;
	letter-spacing:4px;
	margin:10px calc((100% - 640px) / 2);
	padding:20px 20px 0px;
	transition:all 1s;
	width:580px;
}
.story a,#list a{
	line-height:26px;
	padding-left:5px;
}
.story div:last-child{
	padding-bottom:20px;
}
.story  input[type=button]{
	background:#222;
	border:2px solid #222;
	border-radius:5px;
	color:#3b5998;
	cursor:pointer;
	font-size:16px;
	height:30px;
	margin-left:10px;
	transition:border 1s;
	width:80px;
}
.story input[type=button]:hover{
	border:2px solid #3b5998;
}
.story p{
	font-size:16px;
	line-height:25px;
	text-indent:32px;
}
.title{
	cursor:pointer;
	font-size:22px;
	font-weight:bold;
}
#join_us{
	bottom:5px;
	font-size:20px;
	position:absolute;
	right:0px;
}
#list{
	background:#011;
	height:calc(100% - 60px);
	left:0px;
	margin:0px;
	overflow:auto;
	position:fixed;
	top:60px;
	transition:all 1s;
	width:calc((100% - 640px) / 2 - 10px );
}
#list div{
	animation:show 1s;
	margin:10px 10px;
	white-space:nowrap;
}
#list span{
	color:#3b5998;
	border-right:solid 1px;
	display:block;
	float:left;
	height:26px;
	width:20px;
}
#list .title{
	background-image:url(../image/down.png);
	background-position:right center;
	background-repeat:no-repeat;
	background-size:5%;
	transition:background-image 0.1s;
}
#menu,#menuc{
	display:none;
	height:40px;
	left:10px;
	position:absolute;
	top:10px;
	transition:all 0.5s;
	width:40px;
}
#menu div,#menuc div{
	background:#fff;
	height:2px;
	margin:9px 5px;
	transition:all 0.5s;
	width:30px;
}
#menuc{
	transform:rotateZ(180deg);
}
#menuc div:first-child{
	transform:translate(5px,-2px) rotateZ(45.5deg);
	transform-origin:left;
}
#menuc div:nth-child(2){
	opacity:0;
}
#menuc div:last-child{
	transform:translate(5px,-3px) rotateZ(-45deg);
	transform-origin:left;
}
#title{
	cursor:pointer;
	font-size:40px;
	height:60px;
	left:0px;
	line-height:60px;
	position:absolute;
	text-align:center;
	transition:all 1s;
	top:0px;
	width:200px;
}
@keyframes show{
	0%{
		opacity:0;
	}
}
@media screen and (max-width:1269px){
	.story{
		margin:10px calc((100% - 920px) / 2 + 300px);
	}
	#list{
		width:300px;
	}
}
@media screen and (max-width:939px){
	.story{
		margin:10px calc((100% - 620px) / 2);
		width:580px;
	}
	#list{
		left:-300px;
	}
	#menu,#menuc{
		display:block;
	}
	#title{
		left:10px;
	}
}
@media screen and (max-width:639px){
	.story{
		letter-spacing:2px;
		line-height:20px;
		margin:10px;
		width:calc(100% - 60px);
	}
	#join_us{
		display:none;
	}
	#title{
		left:0px;
		width:100%;
	}
}