/*
    深至淺
    #000,#173242,#1D3E53
    #254B62,#476D7C,#74818a
    #77ABB7,#91A1AC,#9FA6AA
    #BBBEBF,#DCE1E5,#EAEDEF
    #FFF
*/
a,input,textarea{
	-webkit-appearance: none;
	outline: none;
}
a{
    color: #77ABB7;
    font-weight: bold;
    text-decoration: none;
}
ul{
    display: block;
    list-style: none;
    padding-left:20px;
}
li{
    text-align: left;
    white-space: nowrap;
    animation: show 1s;
}
li::before{
    display: inline-block;
    content: "";
    height: 25px;
}
hr{
    border: none;
    border-bottom: solid 1px;
}
input[type=button]{
    background: rgba(0, 0, 0, 0.4);
    color: inherit;
    cursor: pointer;
    font-size: 16px;
    height: 30px;width: 80px;
    border: solid 2px; border-radius: 5px;
    transition: all 1s;
}
input[type=button]:hover{
    color:#77ABB7;
}
body{
    background: -webkit-linear-gradient(#000, #173242, #74818a, #9FA6AA);
    background: -moz-linear-gradient(#000, #173242, #74818a, #9FA6AA);
    background: linear-gradient(#000, #173242, #74818a, #9FA6AA);
    user-select: none; -ms-user-select: none;
    -moz-user-select: none; -webkit-user-select: none;
    margin: 0px;
    overflow: hidden;
}
header{
    background: -webkit-linear-gradient(#000, rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(#000, rgba(0, 0, 0, 0));
    background: linear-gradient(#000, rgba(0, 0, 0, 0));
    color: #77ABB7;
    height: 80px; width: 100%;
    position: fixed; top: 0px; left: 0px; z-index: 3;
}
#menu,#menuc{
	cursor: pointer;
	display: none;
	height: 40px; width: 40px;
	position: absolute; top: 20px; left: 20px;
    transition: all 0.5s;
    animation: show 1s;
}
#menu div,#menuc div{
	background: #77ABB7;
	height: 2px; width: 30px;
	margin: 9px 5px;
	transition: all 0.5s;
}
#menuc{
	transform: rotateZ(180deg);
}
#menuc div:first-child{
	transform: translate(5px, -2px) rotateZ(45.5deg);
	transform-origin: left;
}
#menuc div:nth-child(2){
	opacity: 0;
}
#menuc div:last-child{
	transform: translate(5px, -3px) rotateZ(-45deg);
	transform-origin: left;
}
#title{
    cursor: pointer;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    height: 80px; width: 110px;
    position: absolute; top:0px; left: 40px;
    transition: all 1s;
}
#list{
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    height: 100%; width: 300px;
    position: absolute; top: 0px; left: 0px; z-index: 2;
    overflow: hidden;
    transition: left 1s;
}
#story{
    height: 100%; width: calc(100% - 300px);
    position: absolute; top: 0px; left: 300px;
    overflow: hidden;
    transition: left 1s;
}
.scroll::before{
    content: "";
    display: block;
    width: 100%; height: 70px;
}
.scroll{
    height: 100%; width: 100%;
    overflow: scroll;
}
.story{
    background: rgba(0, 0, 0, 0.4);
    color: #FFF;
    letter-spacing:4px;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px calc((100% - 620px) / 2);
    animation: show 1s;
}
.load div{
    animation: show 1s infinite;
}
.title{
    font-size: 25px; font-weight: bold;
}
#list .title{
    margin-left: 25px;
}
.article{
    font-size: 16px;
    padding: 0px 10px 10px;
}
.article p{
    text-indent: 32px;
}
.cls::before{
    background-image: url(../img/arrow.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    display: block; float: left;
    content: "";
    height: 25px; width: 25px;
    transition: transform 0.5s;
}
.clsc::before{
    transform: rotate(90deg);
}
@media screen and (max-width: 940px){
    #list{
        left: -300px;
    }
    #story{
        left: 0px;
        width: 100%;
    }
    #menu,#menuc{
        display: block;
    }
    #title{
        left: 80px;
    }
}
@media screen and (max-width: 640px){
    .story{
        width: calc(100% - 40px);
        margin-left: 10px;
    }
    #title{
        width: 100%;
        left: 0px;
    }
}
@keyframes show{
    0%{
        opacity: 0
    }
}